<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- modal body -->
          <div class="io-about">

            <ul class="io-control-list io-horizontal">
              <li>
                <a href="http://bpmn.io/legal/privacy.html" target="_blank" title="privacy policy">
                  privacy
                </a>
              </li>
              <li>
                <a href="http://bpmn.io/legal/terms.html" target="_blank" title="terms of use">
                  terms
                </a>
              </li>
              <li>
                <a href="http://bpmn.io/legal/imprint.html" target="_blank" title="imprint">
                  imprint
                </a>
              </li>
              <li>
                <a href="#" onclick="Osano.cm.showDrawer('osano-cm-dom-info-dialog-open')">
                  cookie preferences
                </a>
              </li>
              <li>
                <a title="more information about this demo" jsaction="click:bio.showAbout" data-track="help:open-about">
                  about
                </a>
              </li>
              <li>
                <a href="https://forum.bpmn.io/t/8" title="report an issue or suggest improvements" target="_blank" data-track="help:open-report">
                  give feedback
                </a>
              </li>
            </ul>
          </div>
          <!-- modal body end -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
