<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- modal body -->
          <div class="io-dialog about" jswidget="about-dialog">

            <div class="content">
              <h1>About bpmn.io</h1>

              <p>
                bpmn.io offers tools to view, annotate and edit <a href="http://www.bpmn.org">BPMN 2.0</a>, CMMN and DMN diagrams on the web. Refer to our <a href="http://bpmn.io">project website</a> for more information.
              </p>

              <p>
                This is a demo of <a href="https://github.com/bpmn-io/bpmn-js">bpmn-js</a> the JavaScript toolkit that powers bpmn.io.
              <p>

              <h2>Built with open-source software</h2>

              <p>
                <a href="https://github.com/bpmn-io/bpmn-js">bpmn-js</a> is built with the help of a number of open-source libraries:
              </p>

              <ul>
                <li><a href="https://github.com/bpmn-io/bpmn-js">bpmn-js</a></li>
                <li><a href="https://github.com/bpmn-io/diagram-js">diagram-js</a></li>
                <li><a href="https://github.com/nikku/saxen">saxen</a></li>
              </ul>

              <p>
                Icons are assembled using <a href="http://fontello.com">fontello</a> from the following icon fonts:
              </p>

              <ul>
                <li><a href="http://fontello.com">Fontelico</a> crowdsourced, for Fontello project</li>
                <li><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a> by Dave Gandy</li>
                <li><a href="http://www.entypo.com">Entypo</a> by Daniel Bruce</li>
                <li><a href="http://somerandomdude.com/work/iconic/">Iconic</a> by P.J. Onori</li>
              </ul>

              <a class="project-logo" href="http://bpmn.io">
                <span class="icon-bpmn-io"></span>
              </a>

              <p>
                You can find all bpmn.io related open-source projects on
                <a href="https://github.com/bpmn-io">GitHub</a>.
              </p>
            </div>
          </div>
          <!-- modal body end -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

