<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <!-- modal body -->
          <div class="io-dialog import-warnings" jswidget="import-warnings-dialog">

            <div class="content">
              <h1>Import Warnings</h1>

              <p>
                One or more problems have been identified when trying to import the BPMN 2.0 diagram:
              </p>

              <p>
                <textarea class="error-log"></textarea>
              <p>

              <p>
                This may have been caused by malformed input data.
                As a result the diagram may not render correctly.
              </p>

              <h2>Need help on this?</h2>

              <p>
                File a report in <a href="https://forum.bpmn.io" target="_blank">our forum</a>.
                Attach your diagram and the above error log.
              </p>

              <a class="project-logo" href="http://bpmn.io">
                <span class="icon-bpmn-io"></span>
              </a>
            </div>
          </div>
          <!-- modal body end -->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


