  <div class="io-editing-tools">
    <ul class="io-control-list io-horizontal">
      <li class="io-control">
        <button title="Toggle keyboard shortcuts overlay" id="btn_displayKeyMap"
                data-toggle="modal" data-target="#exampleModalCenter">
          <i class="bi bi-keyboard"></i>
        </button>
      </li>
      <li class="io-control">
        <button title="Toggle Fullscreen" id="btn_toggleFullscreen"
                jsaction="click:bio.toggleFullscreen">
          <i class="bi bi-fullscreen"></i>
        </button>
      </li>
    </ul>
  </div>
