  <div class="io-import-export">

    <ul class="io-import io-control io-control-list io-horizontal">
      <li>
        <button title="open BPMN diagram from local file system" id="btn_openLocal" jsaction="click:bio.openLocal">
          <i class="bi bi-folder2-open"></i>
        </button>
      </li>
      <li class="vr"></li>
      <li>
        <button title="create new BPMN diagram" id="btn_createNew" jsaction="click:bio.createNew">
          <i class="bi bi-plus-circle-fill"></i>
        </button>
      </li>
      <li class="vr"></li>
      <li>
        <button title="upload and update Edited BPMN diagram" id="btn_uploadBpmn" jsaction="click:bio.uploadBpmn">
          <i class="bi bi-cloud-upload-fill"></i>
        </button>
      </li>
    </ul>

    <ul class="io-import io-control io-control-list io-horizontal">
      <li>
        <button title="Save BPMN 2.0 file in local file system" id="btn_saveLocal" jsaction="click:bio.saveLocal">
          <i class="bi bi-download"></i>
        </button>
      </li>
      <li class="vr"></li>
      <li>
        <button title="Download as SVG image" id="btn_saveSvg" jsaction="click:bio.saveSvg">
          <i class="bi bi-image"></i>
        </button>
      </li>
    </ul>
  </div>

<!--
    <ul class="io-export io-control io-control-list io-horizontal">
      <li>
        <a target="_blank" href class="download" title="Download as BPMN 2.0 file" jswidget="downloadDiagram" data-track="diagram:download-bpmn">
          <i class="bi bi-download"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href class="download" title="Download as SVG image" jswidget="downloadSVG" data-track="diagram:download-svg">
          <i class="bi bi-image"></i>
        </a>
      </li>
    </ul>
  </div>
-->
