  <div class="io-zoom-controls">

    <ul class="io-zoom-reset io-control io-control-list">
      <li>
        <button title="reset zoom" id="btn_zoomReset" jsaction="click:bio.zoomReset">
          <i class="bi bi-aspect-ratio"></i>
        </button>
      </li>
      <li>
        <hr/>
      </li>
      <li>
        <button title="zoom in" id="btn_zoomIn" jsaction="click:bio.zoomIn">
          <i class="bi bi-plus"></i>
        </button>
      </li>
      <li>
        <hr/>
      </li>
      <li>
        <button href title="zoom out" id="btn_zoomOut" jsaction="click:bio.zoomOut">
          <i class="bi bi-dash"></i>
        </button>
      </li>
    </ul>
  </div>
